/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #4e5266;
	--bg-secondary: #575B72;
	--color-primary: #4cabb1;
	--color-secondary: #69c7ad;
	--color-tertiary: #fed586;
	--font: 'Raleway', sans-serif;
	--text-color: #434b56;
	--heading-color: #fff;
	font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	color: var(--text-color);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #fff;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.padding {
	padding: 80px 0;
}
.heading {
	color: var(--heading-color);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
.heading-secondary {
	color: var(--text-color);
}
.sub-heading {
	font-weight: 400;
	color: #b6babf;
}

// Shopping Cart Styles

// .super {
// 	width: 1100px;
// 	margin: 0 auto;
// }

// Header Styles

.header-container {
	display: flex;
	justify-content: flex-end;

	// width of logo background div
	.cart-logo {
		width: 60px;
		height: 60px;
		background-color: black;

		img {
			width: 40px;
			height: 40px;
			background-color: black;
			position: absolute;
			right: 11px;
			top: 9px;
		}
	}
	// home page price bubble
	.price-bubble-home {
		background:rgb(192, 192, 59);
		border-radius:50%;
		color:black;
		height:18px;
		width: 18px;
		font-size: 14px;
		position: absolute;
		top: 36px;
		right: 10px;
	}
}

.shop-container {
	display: flex;
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.size-container {
	div {
		width: 190px;
		padding-top: 10px;
	}
	h3 {
		font-size: 16px;
		color: black;
	}
	.sizes {
		display: flex;
		flex-wrap: wrap;

		.size {
			width: 30px;
			height: 30px;
			padding: 4px;
			border-radius: 50%;
			font-size: 10px;
			cursor: pointer;
			margin: 3px;
			
		}
		.active {
			background-color: black;
			color: #fff;
		}
	}
	
	.size:hover {
		border: 0.5px solid;
	}
}


.main-container {
	.sort-bar {
			display: flex;;
			justify-content: space-between;

			.sort-select {
				color: black;
				margin-right: 10px;
			}

			select {
				background-color: #fff;
				padding: 5px;
				font-size: 16px;
			}
	}
}

.item-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	.item {
		text-align: center;
		padding: 10px;

		img {
			width: 230px;
			height: 330px;
			
		}
		.title {
			font-size: 16px;
			margin: 10px 0;
			color: black;
		}
		hr {
			width: 8%;
			border: 0.5px solid rgb(248, 164, 155);
			border-radius: 5px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.price-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.price {
			font-size: 18px;
			font-weight: bold;
		}
		.installment {
			color: #9c9b9b;
			font-size: 14px;
			margin: 5px 0;
		}
		.installment-price {
			font-weight: bold;
			color: #9c9b9b;
			font-size: 16px;
		}
		button {
			width: 100%;
			color: #fff;
			padding: 14px 0;
			cursor: pointer;
			font-size: 15px;
			margin-top: 14px;
			background-color: black;
		}
	}
}
.item:hover {
	border: 0.1px solid rgb(218, 218, 218);
	button {
		background: yellowgreen;
	}
}

// Slider Cart Styles

.drawer-main {
	width: 450px;
	background: #1B1A20;
	height: 100%;
	position: absolute;
	right: 0;
	text-align: center;
	transform: translate(0, 0);
	overflow-x: auto;

	.cart-close-btn {
		position: absolute;
		left: -15%;
    height: 50px;
    width: 50px;
    padding: 15px 15px 25px;
    font-size: 1.2rem;
		background-color: black;
		border: 1px solid #fff;
		z-index: 1;
		color: black;
    cursor: pointer;
	}

	.drawer-header {
		display: flex;
		justify-content: center;
		align-items: baseline;
		color: rgb(200, 200, 200);
		margin-top: 10px;
		position: relative;

		// Cart Icon inside Cart
	.cart-icon {
		font-size: 36px;
	}
		p {
			padding-left: 10px;
		}
	}
	//newly added
	.fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
	}
	.cart-close-container, .cart-open-container {
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
	}
	.cart-open-container {
    -webkit-transform: translateX(0);
    transform: translateX(0);
	}




	.pricebubble-in-cart {
		background:yellow;
		border-radius:50%;
		color:black;
		height:15px;
		width: 15px;
		font-size: 10px;
		position: absolute;
		top: 28px;
		left: 131px;
	}
	.cart-items-parent {
		color: #fff;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 8px;		
	
		.cart-item-price {
			padding-left: 20px;
			color: rgb(168, 168, 95);
			font-size: 12px;;
			position: absolute;
			right: 10px;
		}
		.cart-item-image {
			height: 90px;
			width: 90px;
			img {
				width: 70px;
				height: 90px;
				border-radius: 3px;
			}
		}
		.cart-items-info {
			text-align: left;
			font-size: 14px;
			
			.remove-item {
				position: absolute;
				right: 20px;
				color: black;
				font-weight: bold;
			}
			.cart-item-title {
				font-size: 14px;
			}
			.cart-available-sizes {
				color: rgb(121, 121, 121);
				vertical-align: baseline;
			}
			.cart-item-quantity {
				color: rgb(121, 121, 121);
			}
		}
	}

	// Hover effects inside cart

	.cart-items-parent:hover {
		background-color: rgb(61, 61, 61);
		
		.remove-item {
			color: red; 
		}
		.cart-item-price {
			color: rgb(255, 255, 103);
		}
	}
	.division {
		width: 80%;
		margin: 5px auto;
		border: 0.3px solid rgb(209, 148, 148);
	}
	// Checkout section styles
	.checkout {
		position: fixed;
		bottom: 0;
		height: 15%;
		background: #1B1A20;
		width: 100%;
	}
	.drawer-btn {
		margin: 20px;
		padding: 10px;
		background: black;
		width: 200px;
		font-size: 1rem;
		font-weight: bold;
		color: #fff;
		outline: 0;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
